In [6]:
lst = [2,3,4,6,7,8,0,4,6,3]
for x in lst:
    print(x, end='ðŸ˜‰')

2ðŸ˜‰3ðŸ˜‰4ðŸ˜‰6ðŸ˜‰7ðŸ˜‰8ðŸ˜‰0ðŸ˜‰4ðŸ˜‰6ðŸ˜‰3ðŸ˜‰

In [9]:
name = "Areeba Shakeel"
for i in name:
    print(i,end='')

Areeba Shakeel

In [13]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [16]:
for num in range(2,11):
    print(num, end=' ')

2 3 4 5 6 7 8 9 10

In [20]:
for num in range(1,20,3):
    print(num, end=' ')

1 4 7 10 13 16 19

In [21]:
for i in range(5):
    print("Areeba")

Areeba
Areeba
Areeba
Areeba
Areeba

- print even numbers from 0 to 20 using conditions statement
- print even numbers from 0 to 20 without using consition statement
- print square of numbers from 1 to 10
- print multiplication table of 15
- print sum of numbers from 1 to 10
- count how many times a specific letter appears in a string

In [24]:
for num in range(21):
    if num % 2 == 0:
        print(num, end=' ')

0 2 4 6 8 10 12 14 16 18 20

In [27]:
string = "Areeba Shakeel"
count = 0
for char in string:
    if char == 'a' or char == 'A':
        count += 1
print(f"Count of A is {count}")

Count of A is 3